<!DOCTYPE html>
<html>
  <head>

    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body ng-app="headmonApp" ng-controller="mainCtrl" ng-cloak>
    HELLO
  </body>
</html>
